@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
    .animate-fadeIn {
        animation: fadeIn 0.5s ease-out forwards;
    }
}